/* shared style */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button{
   font-size: 1.25rem;
   font-weight: 600;
   color:#FFFFFF;
   padding: 21px 19px 24px 25px;
   border: none;
   background-color: #FF900E;
   border-radius: 8%;
   margin-top: 32px;
   margin-bottom: 50px;
}

/* header style */
header{
  background-color: rgba(255, 144, 14, 0.1);
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 240px;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar h3{
  font-size: 2.82rem;
  font-weight: bold;
  color:#131313;
  /* width:303px; */
}
.menu{
  display: flex;
  font-size: 1.13rem;
  line-height: 26px;
  color:#424242;
  justify-content: space-between;
  gap:45px;
  align-items: center;
  
}

.menu div a{
  text-decoration: none;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner h1{
  font-size: 4rem;
  font-weight: bold;
  color:#131313;
}
.banner p{
  font-size: 1rem;
  line-height: 26px;
  color:#727272;
}
.banner-img{
   width: 100%; 
   max-width: 1440px;
   margin:0 auto;

}
 .banner-img img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* responsive media query */
@media  screen and (max-width:576px) {
    .navbar , .menu{
      flex-direction: column;
    }  
}

